html {
    font-family: "Spectral", sans-serif; /* Protest Strike, Spectral */
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}

#headphones {
    margin-top: 10px;
    animation: float 6s ease-in-out infinite;
    animation-play-state: paused;
}

@keyframes float {
    0% {
        transform: translateY(-5px);
        -webkit-filter: drop-shadow(0 7px 10px grey);
    }
    50% {
        transform: translateY(5px);
        -webkit-filter: drop-shadow(0 10px 13px rgb(68, 136, 158));
    }
    100% {
        transform: translateY(-5px); 
        -webkit-filter: drop-shadow(0 7px 10px grey);
    }
}


body {
    background: linear-gradient(#74fedb, #0172af);
    min-height: 100vh;
    color: whitesmoke;
    font-size: 1.4rem;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 2em; 
    text-align: center;
}

.player {
    background: radial-gradient(#2a123e, #232669);
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
                rgba(240, 46, 170, 0.3) 10px 10px, 
                rgba(240, 46, 170, 0.2) 15px 15px, 
                rgba(240, 46, 170, 0.1) 20px 20px, 
                rgba(240, 46, 170, 0.05) 25px 25px;
    /* https://getcssscan.com/css-box-shadow-examples */
}

img {
    width: 30%;
}

#controls {
    border: 1px lightslategray solid;
    border-radius: 1rem;
    padding: 1.1rem;
    overflow: hidden;
}

#timeDisplay {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 30px;
}

.controls_wrapper > span {
    /* Will select all span items */
    cursor: pointer;
    color: #74fedb;
    font-size: 6rem;
    /* padding: 2rem; */
    transition: all 0.5s ease;
    line-height: 6rem;
    text-shadow: 2px 2px 2px #74fedc8e;
}

.controls_wrapper > span:hover {
    /* Will select all span items */
    font-size: 7rem;
}

#currentSong {
    overflow: hidden;
    animation: scroll-left 15s linear infinite;
    white-space: nowrap;
    width: 100%;
}

@keyframes scroll-left {
    from {
        -moz-transform: translateX(60%);
        -webkit-transform: translateX(60%);
        transform: translateX(60%);
      }
      to {
        -moz-transform: translateX(-60%);
        -webkit-transform: translateX(-60%);
        transform: translateX(-60%);
      }
}

.paused {
    animation-play-state: paused !important; /**/
    transform: translateX(0) !important; /**/
}

#currentSong:hover {
    animation-play-state: paused;
}

#songList {
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

#volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 40%; 
    transition: all 0.3s ease;
    background: rgb(178, 178, 178);
    outline: none;
    border-radius: 1rem;
    height: 15px;
    box-shadow: 2px 1px 3px rgb(178, 178, 178);
}

#volumeSlider:hover {
    background: grey;
    box-shadow: 2px 1px 3px grey;
}

#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px; 
    border-radius: 100%;
    background: #74fedb;
}

ol {
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 1rem;
    transition: all 0.4s ease;
    border-radius: 10px;
    list-style-type: none; /* unneeded */
}

li:hover {
    color: black;
    background-color: #74fedb;
    animation: float2 3s ease-in-out infinite;
    animation-play-state: running;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 4px, rgba(240, 46, 170, 0.3) 0px 8px;
    /* box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green; */ /* COOL EFFECT */
}

@keyframes float2 {
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-3px);
    }
}

a {
    color: whitesmoke;
}

progress {
    width: 100%;
    height: 3rem;
    transition: all 0.3s ease; 
    border-radius: 7px; /* doesn't work w/o this??? */
    outline: none;
    background-color: #0172af;
    border-radius: 20px;
    border-color: #0172af;
    box-shadow: 2px 2px 3px #0172af9a;
    opacity: 1;
    overflow: hidden; /* important for left overflow because apparently that's a thing haha */
} 

progress:hover {
    opacity: 0.8;
    cursor: pointer; /* redundant? */
}


progress::-webkit-progress-bar {
    background-color: #0172af;
    border-radius: 20px;
    /* margin-bottom: 0rem; */
    /* height: 3rem; */
}

progress::-webkit-progress-value {
    background-color: #74fedb;
    border-radius: 20px;
    box-shadow: 2px 1px 3px #74fedb;
}

progress:hover {  
    cursor: pointer;
}

#volumeSlider:hover { 
    cursor: pointer;
}

#sortToggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#toggleButton {
    padding: 1rem 4rem;
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    transition: all 0.3s ease;
    background-color: #74fedb;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 3px rgb(132, 187, 198);
    line-height: 100%;
    /* height: 3.1rem; */
}

/* #toggleButton:focus {
    outline: none;
} */
/* This only matters if the space bar comes into play */

#toggleButton:hover {
    /* font-size: 1.4rem; */
    cursor: pointer;
    background-color: #0172af;
    color: white;
    box-shadow: 3px 3px 4px rgb(132, 187, 198);
}

.pulse {
    animation: pulse;
    animation-duration: 0.4s;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

@media(min-width: 800px) {
    body {
        max-width: 60vw; /* for when the screen is big */
        font-size: 1.8rem;
    }
}

@media(max-width: 800px) {
    .player {
        /* box-shadow: none; */
        margin-right: 20px;
    }
}